<h3 class="designer-header">Designer Info</h3>
<hr class="hr">
<h4>{{name}}({{social}}) of {{design-firm}} from {{location}}</h4>
<p class="designer-quote">"
{{#each quotes}}
    {{quote}}
{{/each}}
"</p>
